ul,li {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sidenav {
    width:170px;
}

.fine-print {
    margin-top:10px;
}

.crowd-logo {
    width:160px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.crowd-brand {
    margin: 0 auto;
}

.indent {
    margin-left: 45px;
}