{% extends "expertsrc/base.html" %}

{% block title %} About Expertsrc {% endblock title %}

{% block content %}
<div class="content">
    <h1>About Data Tamer</h1>
    <hr>
    <div>
        <p>
            Data Tamer is a data curation system that is being developed at M.I.T. in collaboration with NIBR IT's Data Engineering group, Q.C.R.I., and Brandeis University.
        </p>
        <p>
            For more information about the system, you can read a research paper: <a href="http://www.cidrdb.org/cidr2013/Papers/CIDR13_Paper28.pdf">Data Curation at Scale: The Data Tamer System</a> (CIDR 2013)
        </p>
        <p>
            Questions and concerns about this study can be directed to <a href="mailto:alexrpagan@gmail.com">Alex Pagan</a> or <a href="mailto:mark.schreiber@novartis.com">Mark Schrieber</a>.
        </p>
        <p>
            To view training material again, visit <a href="{% url training %}/">training</a>.
        </p>

    </div>
</div>

{% endblock content %}

{% block jquery %}
<script type="text/javascript">
    $(".nav-about").each(function(){$(this).addClass("active")});
</script>
{% endblock jquery %}
