{% extends "expertsrc/base.html" %}

{% block title %}Ask a question{% endblock title %}

{% block sidebar %} {% endblock sidebar %}

{% block content %}
<div class="content">
  <h1>Ask a question (pt. 3)</h1>
  <br/>
  <p>Allocate users to answer your question based on price and confidence requirements.</p>
  <br/>
  <form method="post" action="/ask/{{ question.id }}/allocate_users/commit">
    {% csrf_token %}
    <table id="choose_alloc" class="table">
      <thead>
	<tr>
	  {% for l in levels %}
	  <th>Level {{ l.level_number }}</th>
	  {% endfor %}
	  <th>Expected Confidence</th>
	  <th>Price</th>
	  <th>Select</th>
	</tr>
      </thead>
      <tbody>
	{% for a in allocations %}
	<tr>
	  {% for n in a.level_dist %}
	  <td>{{ n }}</td>
	  {% endfor %}
	  <td>{{ a.confidence }}</td>
	  <td>{{ a.price }}</td>
	  <td><input class="radio" name="alloc-select" type="radio" value="{{ a }}"></td>
	</tr>
	{% endfor %}
	<tr>
	</tr>
      </tbody>
    </table>
    <div class="btn-toolbar">
      <div class="btn-group">
	<a href="/ask/{{ question.id }}/allocate_users/" class="btn">Get Fresh Allocations</a>
      </div>
      <div class="btn-group">
	<button type="submit" class="btn btn-primary">Finish</button>
      </div>
  </form>
</div>
{% endblock content %}

{% block jquery %}
<script type="text/javascript">
$(document).ready(function() {
$('#choose_alloc tr').click(function() {
$(this).find('td input:radio').prop('checked', true);
});
});
</script>
{% endblock jquery %}
