{% extends "expertsrc/base.html" %}

{% block title %}Answer a question{% endblock title %}

{% block content %}
<div class="content">
  <p>Answer the following question, and indicate your confidence in your answers using the slider.</p>
  <div>
    <p> In the domain <strong>{{ question.domain.long_name}}</strong>, indicate whether each entity below is the same as the entity identified by <strong>{{ question.entityid }}</strong></p>
  </div>
  <br/>
  <div>
  <form method="post" action="/answer/{{ question.id }}/commit/">
  <table class="table">
    {% csrf_token %}
    <thead>
      <th>EntityID</th>
      <th></th>
      <th></th>
      <th>Yes</th>
      <th>No</th>
      <th>Confidence</th>
    </thead>
    <tbody>
    {% for c in choices %}
    <tr>
      <td colspan="3"><strong>{{ c.entityid }}</strong></td>
      <td><input id="choice{{ c.id }}yes" name="choice{{ c.id }}" type="radio" value="t"></td>
      <td><input id="choice{{ c.id }}no" name="choice{{ c.id }}" type="radio" value="f"></td>
      <td><input type="range" name="choice{{ c.id }}confidence" min="0.0" max="1.0" step=".001"></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary btn-large">Submit</button>
  </form>
  </div>
</div>
{% endblock content %} 
