{% extends "expertsrc/base.html" %}

{% block title %}Ask a question{% endblock title %}

{% block sidebar %} {% endblock sidebar %}

{% block content %}
<div class="span8 offset2">
  <h1>Ask a question</h1>
  <br/>
  <p>You must first specify a <strong>domain</strong>, then define the question's choices.</p>
  <br/>
  <form method="post" action="/ask/init/">
    {% csrf_token %}
    <div>
      {{ form.domain_errors }}
      <label for="id_domain"> Select domain: </label>
      {{ form.domain }}
    </div>
    <input type="submit" value="Next">
  </form>
</div>

{% endblock content %} 
