<html>
<head>
    <meta charset="utf-8">
    <title>Consent To Participate in Research</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            background: #F8F8F8 ;
        }
        h4 {
            margin:10px 0;
        }
        p {
            margin:10px 0;
            padding:5px 0;
        }
        .container {
            width:800px;
            height: 700px;
            margin-top:20px;
        }
        .head {
            text-align:center;
        }
        .mini-content {
            background:#fff;
            height: 600px;
            overflow-y: scroll;
            padding:15px;
            border: solid #e0e0e0 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .controls {
            background:#fff;
            margin-top:10px;
            padding:10px;
            border: solid #e0e0e0 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="mini-content">
                <div class="head">
                    <h2>Consent to Participate in Non-Biomedical Research</h2>
                    <p class="lead">Expert-User Analysis For Data Tamer</p>
                </div>
                <hr>
                <p>You are asked to participate in a research study conducted by Michael Stonebraker (Ph.D.) and Alexander Pagan (B.S.) from the department of Electrical Engineering and Computer Science at the Massachusetts Institute of Technology (M.I.T.). You were selected as a possible participant in this study because you are have experience working with <b>Pharon assay data</b>. You should read the information below, and ask questions about anything you do not understand, before deciding whether or not to participate.</p>
                <hr>
                <h4>PARTICIPATION AND WITHDRAWAL</h4>
                <p>Your participation in this study is completely voluntary and you are free to choose whether to be in it or not. If you choose to be in this study, you may subsequently withdraw from it at any time without penalty or consequences of any kind.  The investigator may withdraw you from this research if circumstances arise which warrant doing so.  </p>
                <hr>
                <h4>PURPOSE OF THE STUDY</h4>
            <p>The purpose of this study is to gauge the effectiveness of a human-aided data integration system called <b>Data Tamer</b>, which was created at M.I.T. Particularly, <b>we wish to assess the effectiveness of the system’s mechanisms for sending data curation tasks to a group of expert users.</b></p>
                <p>The results of this study will be used to improve the quality of the NIBR Pharon data management systems.</p>
                <hr>
                <h4>PROCEDURES</h4>
                <p>The study will occur over the course of <b>3 weeks</b>. During <b>each week</b> of the study, you will be asked for <b> no more than 70 minutes</b> of active involvement. If you volunteer to participate in this study, we would ask you to do the following things:</p>
                    <ul><li>Learn about Data Tamer and data integration (10 minutes):
                        <ul><li>Read a short introduction to data integration.
                        </li><li>Read a short introduction to Data Tamer’s functionality
                    </li></ul></li><li>Complete data integration tasks (varies: fewer than 60 minutes per week):
                    <ul><li>Use Data Tamer’s user interface to answer a series of simple questions.
                    </li></ul></li><li>Complete a questionnaire (5 minutes):
                    <ul><li>Complete a satisfaction survey at the end of the experiment.
                    </li></ul></li></ul>
                <hr>
                <h4>POTENTIAL RISKS AND DISCOMFORTS</h4>
                <p>We do not forsee any risks in participating in this study.</p>
                <hr>
                <h4>POTENTIAL BENEFITS</h4>
                <p>If proven to be useful as a result of this study, Data Tamer will be used to help improve the quality of data curation techniques used by NIBR to manage Pharon assay data.</p>
                <hr>
                <h4>PAYMENT FOR PARTICIPATION</h4>
                <p>No payment or compensation will be offered for completing this study.</p>
                <hr>
                <h4>CONFIDENTIALITY</h4>
                <p>Any information that is obtained in connection with this study and that can be identified with you will remain confidential and will be disclosed only with your permission or as required by law. </p>
                <p>Your interactions with Data Tamer (answers to data integration tasks) will be recorded through the website, and your responses to the questionnaires will be saved. </p>
                <p>Data obtained from participants will be stored on a server located on Novartis’s campus. The server will be hosted within Novartis’s secure intranet. As such, access to the user interface will be restricted to authorized Novartis employees with appropriate credentials. The data will not be destroyed after analysis, and will remain on the server with the same security measures described above.</p>
                <hr>
                <h4>IDENTIFICATION OF INVESTIGATORS</h4>
                <p>Michael Stonebraker <br>
                Phone Number: 617-253-3538 <br>
                Email: stonebraker@csail.mit.edu</p>
                <p>Alexander Pagan<br>
                Phone Number: 781-635-6118<br>
                Email: apagan@mit.edu</p>
                <hr>
                <h4>EMERGENCY CARE AND COMPENSATION FOR INJURY</h4>
                <p>If you feel you have suffered an injury, which may include emotional trauma, as a result of participating in this study, please contact the person in charge of the study as soon as possible.</p>
                <p>In the event you suffer such an injury, M.I.T. may provide itself, or arrange for the provision of, emergency transport or medical treatment, including emergency treatment and follow-up care, as needed, or reimbursement for such medical services.  M.I.T. does not provide any other form of compensation for injury. In any case, neither the offer to provide medical assistance, nor the actual provision of medical services shall be considered an admission of fault or acceptance of liability. Questions regarding this policy may be directed to MIT’s Insurance Office, (617) 253-2823. Your insurance carrier may be billed for the cost of emergency transport or medical treatment, if such services are determined not to be directly related to your participation in this study.</p>
                <hr>
                <h4>RIGHTS OF RESEARCH SUBJECTS</h4>
                <p>You are not waiving any legal claims, rights or remedies because of your participation in this research study.  If you feel you have been treated unfairly, or you have questions regarding your rights as a research subject, you may contact the Chairman of the Committee on the Use of Humans as Experimental Subjects, M.I.T., Room E25-143B, 77 Massachusetts Ave, Cambridge, MA 02139, phone 1-617-253 6787.</p>
            </div>
            <div class="controls">
                <form method="POST" action="">
                    <div class="row">
                        <div class="span10">
                             <label class="checkbox">
                                <input type="checkbox" name="consent">
                                I have read and understood the information above, and have decided to participate in this study.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-primary pull-right" value="Accept">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>