{% extends "expertsrc/base.html" %}

{% block styles %}
<link href="{{ STATIC_URL }}css/d3.css" rel="stylesheet" />
{% endblock styles %}

{% block title %}Expert worker overview{% endblock title %}

{% block content %}
<div id="domain-overview" class="content">

  <div>
    <h1>{{domain.long_name}}</h1>
    <br />
    <p>{{domain.description}}</p>
  </div>
  <hr/>
  <div>
    <p class="lead">User Accuracy</p>
    <p>See the distribution of worker accuracy scores within this domain.</p>
    <div class="hide" id="accData">{{acc_data}}</div>
    <div id="ability-histo">
    </div>
  </div>
  <hr/>
  <div>
    <p class="lead">Expert Worker Wages</p>
    <p>Track how worker wages have changed over time.</p>
    <div id="price-graph">
    </div>
  </div>
  <hr/>
  <div>
    <p class="lead">Availability History</p>
    <p>Track how worker availability has changed over time.</p>
    <div id="avail-graph">
    </div>
  </div>
  <hr/>
<!--
<section id="overview">
  <p class="lead">Per-user information.</p>
  {% if overview %}
  <table class="table">
    <thead>
      <tr>
	<th>User</th>
	<th>Quota (q's/week)</th>
	<th>Accuracy</th>
	<th>Level</th>
	<th># Pending</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in overview %}
      <tr>
	<td>{{entry.username}}</td>
	<td>{{entry.question_quota}}</td>
	<td>{{entry.accuracy|floatformat:5}}</td>
	<td>{{entry.user_level}}</td>
	<td>{{entry.num_pending}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</section>-->


{% endblock content %}

{% block jquery %}
<script type="text/javascript">
$("#nav-domain").addClass("active");
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/d3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/availvis.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pricevis.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/userhisto.js"></script>
{% endblock jquery %}
