{% extends "expertsrc/base.html" %}

{% block title %}Domain overview{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div id="domain-overview" class="content">

    <div>
        <h1>Domain Overview</h1>
        <br />
        <p class="lead">Get more information about domains.</p>
    </div>

    <section id="overview">
        {% if domains %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>More Info...</th>
                </tr>
            </thead>
            <tbody>
                {% for domain in domains %}
                <tr>
                    <td>{{domain.long_name}}</td>
                    <td>{{domain.description}}</td>
                    <td><a href="{% url domain_details domain.id %}">Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>
            There are no domains registered in the system.
        </p>
        {% endif %}
    </section>

{% endblock content %}


{% block jquery %}
<script type="text/javascript">
    $(".nav-domain").each(function(){$(this).addClass("active")});
</script>
{% endblock jquery %}
