{% extends "expertsrc/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="content">
    <div class="hero-unit">
        <h1>Data Tamer</h1>
        <p>
            Scalable data curation.
        </p>
    </div>

    <div class="row">
        <div style="margin-left:40px;">
            <p class="lead">
                <!-- Please sign in with the credentials you received by email. -->
            </p>
        </div>
    </div>

    <form action="{% url login %}" method="POST" class="well form-inline">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}

        <!--[if IE]>
        <label for="username"><b>Username:</b></label>
        <![endif]-->

        <input class="input-small" type="text" name="username" placeholder="Username" />

        <!--[if IE]>
        &nbsp;&nbsp;&nbsp;
        <label for="password"><b>Password:</b></label>
        <![endif]-->

        <input class="input-small" type="password" name="password"  placeholder="Password" />
        <input type="submit" value="Log In" class="btn" />
    </form>
    {% if msg %}
    <div id="msg" class="alert alert-error">
    {{ msg }}
    </div>
    {% endif %}
</div>
{% endblock content %}
